# version 3+ does different things re: networking from 2.x
# mainly things to support swarms
# aka things we don't need/want
version: '2.4'
services:
  # httpd
  wiki-web:
    # for development, build the image
    image: ghcr.io/wetfish/wiki:dev-nginx
    build:
      context: .
      dockerfile: Dockerfile.nginx
    container_name: wiki-web
    restart: unless-stopped
    volumes:
      # nginx config
      - ./config/nginx.conf:/etc/nginx/conf.d/default.conf:ro
      # bind mount in wwwroot for live editing
      - ./wwwroot:/var/www:rw
      # user uploads
      - ./upload:/var/www/upload:rw
    # normally behind centeral traefik defined in production-manifests/services/traefik
    ports:
      - "127.0.0.1:2405:80"
    # join wiki-internal network
    networks:
      wiki-internal: {}

  # php-fpm
  wiki-php:
    # for development, build the image
    image: ghcr.io/wetfish/wiki:dev-php
    build:
      context: .
      dockerfile: Dockerfile.php
    container_name: wiki-php
    restart: unless-stopped
    # db connection info
    env_file:
      - ./php.env
    volumes:
      # bind mount in wwwroot for live editing
      - ./wwwroot:/var/www:rw
      # user uploads
      - ./upload:/var/www/upload:rw
      # php-fpm configs
      - ./config/php-fpm.conf:/etc/php/7.0/fpm/php-fpm.conf:ro
      - ./config/php-fpm-pool.conf:/etc/php/7.0/fpm/pool.d/www.conf:ro
      - ./config/php.ini:/etc/php/7.0/fpm/php.ini:ro
    networks:
      wiki-internal: {}

  # database
  wiki-db:
    image: docker.io/mariadb:10.10
    container_name: wiki-db
    restart: unless-stopped
    env_file:
      - ./mariadb.env
    command: --sql-mode=""
    volumes:
      - ./config/schema.sql:/docker-entrypoint-initdb.d/setup.sql:ro
      - ./db/data:/var/lib/mysql:rw
    # dev env: expose mariadb on 127.0.0.1:3405
    ports:
      - "127.0.0.1:3405:3306"
    networks:
      wiki-internal: {}

networks:
  # ephemeral, created for us by compose
  wiki-internal:
    driver: bridge
