DB_HOSTNAME=wiki-db
DB_USERNAME=wiki
DB_DATABASE=wiki
DB_PASSWORD=secret

# production: wiki.wetfish.net
# development: wiki.wetfish.net.local
SITE_URL=wiki.wetfish.net.local
ALLOWED_EMBEDS=/^.*\.wetfish\.net$/i

LOGIN_PASSWORD=secret
ADMIN_PASSWORD=secret
BAN_PASSWORD=secret
RECAPTCHA_PUBLIC=string
RECAPTCHA_PRIVATE=string
CAPTCHA_BYPASS=false

# passed to json_decode()
# needs to resolve as an array
BANLIST='["127\.0\.0\.1", "^2600:123"]'
