DB_HOSTNAME=wiki-db
DB_USERNAME=wiki
DB_DATABASE=wiki
DB_PASSWORD=secret

# production: wiki.wetfish.net
# development: wiki.wetfish.net.local
SITE_URL=wiki.wetfish.net.local
ALLOWED_EMBEDS=/^.*\.wetfish\.net$/i
