DB_HOSTNAME=wiki-db
DB_USERNAME=wiki
DB_DATABASE=wiki
DB_PASSWORD=secret

# Production
# SITE_URL=wiki.wetfish.net
# ALLOWED_EMBEDS=/^.*\.wetfish.net$/i

# Development
SITE_URL=127.0.0.1:2405
ALLOWED_EMBEDS=/^127\.0\.0\.1$/i

# Used for embedding content from other wiki pages
# This hostname is defined in the docker-compose file
# If the site is being run without docker, this can be the same as SITE_URL
INTERNAL_HOSTNAME=wiki-web

LOGIN_PASSWORD=secret
ADMIN_PASSWORD=secret
BAN_PASSWORD=secret

CAPTCHA_BYPASS=false

# passed to json_decode()
# needs to resolve as an array
BANLIST='["127\.0\.0\.1", "^2600:123"]'
